<div class='row'>
    <div class='col-lg-12'>
        <div class="box box-primary">
            <div class="box-header">
              <h3 class="box-title">Użytkownicy</h3>
              <div class="box-tools">
                <%= button_to "Utwórz", new_user_path, :class => "btn btn-primary", :method => :get %>
              </div>
            </div>
            <div class="box-body no-padding">
                <table class="table table-striped">
                    <tbody>
                        <tr>
                            <th style="width: 15px">Id</th>
                            <th>Imię i nazwisko</th>
                            <th>Email</th>
                            <th>Login</th>
                            <th>Data utworzenia</th>
                        </tr>
                        <% @users.each do |user| %>
                            <tr>
                                <td><%= user.id %></td>
                                <td><%= user.name %></td>
                                <td><%= user.email %></td>
                                <td><%= user.login %></td>
                                <td><%= user.created_at %></td>
                            </tr>
                        <% end %>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>