<div class="row">
  <div class="col-md-3 col-sm-6 col-xs-12">
    <div class="info-box">
      <span class="info-box-icon bg-aqua"><i class="fa fa-diamond"></i></span>
      <div class="info-box-content">
        <span class="info-box-text">Punkty</span>
        <span class="info-box-number" id="user_points"><%= current_user.points %></span>
      </div>
    </div>
  </div>

  <div class="col-md-3 col-sm-6 col-xs-12">
    <div class="info-box">
      <span class="info-box-icon bg-green"><i class="fa fa-line-chart"></i></span>
      <div class="info-box-content">
        <span class="info-box-text">Ranking</span>
        <span class="info-box-number" id="user_place"><%= @league.place(current_user) %></span>
      </div>
    </div>
  </div>

  <div class="col-md-3 col-sm-6 col-xs-12">
    <div class="info-box">
      <span class="info-box-icon bg-red"><i class="fa fa-clock-o"></i></span>
      <div class="info-box-content">
        <span class="info-box-text">Koniec obstawiania</span>
        <span class="info-box-number" id="stop_bet_time">
          <%= @next_match_day.nil? ? "-" : l(@next_match_day.stop_bet_time, format: :short) %>
        </span>
      </div>
    </div>
  </div>

  <div class="col-md-3 col-sm-6 col-xs-12">
    <div class="info-box">
      <span class="info-box-icon bg-yellow"><i class="fa fa-check"></i></span>
      <div class="info-box-content">
        <span class="info-box-text">Obstawiono?</span>
        <span class="info-box-number" id="is_bet">
          <%= @next_match_day.nil? ? "-" : (@next_match_day.is_bet?(current_user) ? "TAK" : "NIE") %>
        </span>
      </div>
    </div>
  </div>
</div>

<div class="row">
  <% unless @last_match_day.nil? %>
    <div class='col-lg-6'>
      <div class="box box-primary text-center" id="last_match_day">
        <div class="box-header">
          <h3 class="box-title"><%= link_to "Ostatnia kolejka", match_day_path(@last_match_day) %></h3>
        </div>
        <div class="box-body no-padding table-responsiv">
          <table class="table table-striped table-bordered">
            <tbody>
              <tr>
                <th>Drużyny</th>
                <th>Wynik</th>
                <th>Typ</th>
                <th>Punkty</th>
              </tr>
              <% @last_match_day.matches.each do |m| %>
                <tr id="match_<%= m.id %>">
                  <td><%= render html: m.print_teams.html_safe %></td>
                  <td><%= m.print_score %></td>
                  <% bet = m.bets.where(user_id: current_user.id).first %>
                  <% if bet.nil? %>
                    <td>-</td>
                    <td>0</td>
                  <% else %>
                    <td><%= bet.print %></td>
                    <td><%= bet.points %></td>
                  <% end %>
                </tr>
              <% end %>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  <% end %>
  <% unless @next_match_day.nil? %>
    <div class='col-lg-6'>
      <div class="box box-primary text-center" id="next_match_day">
        <div class="box-header">
          <h3 class="box-title"><%= link_to "Następna kolejka", match_day_path(@next_match_day) %></h3>
        </div>
        <div class="box-body no-padding table-responsive">
          <table class="table table-striped table-bordered">
            <tbody>
              <tr>
                <th>Drużyny</th>
                <th class="hidden-xs">Miasto</th>
                <th>Start</th>
                <th>Typ</th>
              </tr>
              <% @next_match_day.matches.each do |m| %>
                <tr id="match_<%= m.id %>">
                  <td><%= render html: m.print_teams.html_safe %></td>
                  <td class="hidden-xs"><%= m.city %></td>
                  <td><%= l(m.start_time, format: :short) %></td>
                  <% bet = m.bets.where(user_id: current_user.id).first %>
                  <% if bet.nil? %>
                    <td><%= link_to "Obstaw", match_day_path(@next_match_day) %></td>
                  <% else %>
                    <td><%= bet.print %></td>
                  <% end %>
                </tr>
              <% end %>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  <% end %>
</div>