<div class="row">
  <div class="col-md-3 col-sm-6 col-xs-12">
    <div class="info-box">
      <span class="info-box-icon bg-aqua"><i class="fa fa-star"></i></span>
      <div class="info-box-content">
        <span class="info-box-text">Dzień meczowy</span>
        <span class="info-box-number"><%= @match_day.day_number %></span>
      </div>
    </div>
  </div>

  <div class="col-md-3 col-sm-6 col-xs-12">
    <div class="info-box">
      <span class="info-box-icon bg-green"><i class="fa fa-clock-o"></i></span>
      <div class="info-box-content">
        <span class="info-box-text">Koniec czasu</span>
        <span class="info-box-number"><%= l(@match_day.stop_bet_time, format: :short) %></span>
      </div>
    </div>
  </div>

  <div class="col-md-3 col-sm-6 col-xs-12">
    <div class="info-box">
      <span class="info-box-icon bg-yellow"><i class="fa fa-object-group"></i></span>
      <div class="info-box-content">
        <span class="info-box-text">Runda</span>
        <span class="info-box-number"><%= @match_day.round.title %></span>
      </div>
    </div>
  </div>

  <div class="col-md-3 col-sm-6 col-xs-12 hidden-xs">
    <div class="info-box">
      <span class="info-box-icon bg-red"><i class="fa fa-futbol-o"></i></span>
      <div class="info-box-content">
        <span class="info-box-text">Ilość meczy</span>
        <span class="info-box-number"><%= @match_day.matches.length %></span>
      </div>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-xs-12">
    <div class="box">
      <div class="box-header with-border">
        <h3 class="box-title">Twoje zakłady</h3>
        <div class="box-tools">
          <% if current_user.admin %>
              <%= link_to "Zakończ", finish_match_day_path, class: "btn btn-primary btn-sm", remote: true %>
          <% end %>
        </div>
      </div>
      <% if @match_day.stop_bet_time > Time.current %>
        <%= render :partial => "match_days/bets_form"%>
      <% else %>
        <%= render :partial => "match_days/bets_table"%>
      <% end %>
    </div>
  </div>
</div>