<aside class="main-sidebar" id="main-menu">
  <section class="sidebar">
    <ul class="sidebar-menu tree" data-widget="tree">
      <li>
        <a href="<%= leagues_path %>">
          <i class="fa fa-table"></i> <span>Ligi</span>
        </a>
      </li>
      <li>
        <a href="<%= bets_path %>">
          <i class="fa fa-calculator"></i> <span>Moje Typy</span>
        </a>
      </li>
      <li>
        <a href="<%= edit_user_path(current_user) %>">
          <i class="fa fa-user"></i> <span>Mistrz i król strzelców</span>
        </a>
      </li>
      <li>
        <a href="<%= match_days_path %>">
          <i class="fa fa-star"></i> <span>Obstawianie</span>
        </a>
      </li>
      <% if current_user.admin? %>
        <li>
          <a href="<%= matches_path %>">
            <i class="fa fa-soccer-ball-o"></i> <span>Mecze</span>
          </a>
        </li>
      <% end %>
      <li>
        <a href="<%= players_path %>">
          <i class="fa fa-users"></i> <span>Najlepsi strzelcy</span>
        </a>
      </li>
    </ul>
  </section>
</aside>