<!DOCTYPE html>
<html>
  <head>
    <title>MundialApp</title>
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application' %>
    <%= stylesheet_pack_tag 'application' %>
  </head>

  <body class="skin-black sidebar-mini fixed" data-controller="<%= controller_name %>" data-action="<%= action_name %>">
    <div class="wrapper">
      <%= render 'layouts/header' %>
      <%= render 'layouts/sidebar' %>
      <%= render 'layouts/contentwrapper' %>
      <%= render 'layouts/footer' %>
    </div>
  </body>
</html>
