<!DOCTYPE html>
<html>
  <head>
    <title>MundialApp</title>
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application' %>
    <%= stylesheet_pack_tag 'application' %>
    <%= favicon_link_tag asset_path('favicon.ico'), :rel => 'icon', :type => "image/x-icon" %>
  </head>

  <body class="skin-black sidebar-mini" data-controller="<%= controller_name %>" data-action="<%= action_name %>">
    <div class="wrapper">
      <%= render 'layouts/header' %>
      <%= render 'layouts/footer' %>
      <%= render 'layouts/sidebar' %>
      <%= render 'layouts/contentwrapper' %>
     
    </div>
  </body>
</html>
